---

import CatalogueCards from "../../components/Home/CatalogueCards.astro";
import Buttons from "../../components/catalogue/buttons.astro";

---
<p class="font-extrabold text-3xl font2  text-center md:text-start">Precios</p>
<div class="flex-col ml-4  text-center md:text-start ">

  <Buttons dataset="low">12.00$</Buttons>
  <Buttons dataset="middleLow">10.00$</Buttons>
  <Buttons dataset="middleHigh">13.50$</Buttons>
  <Buttons dataset="high">15.00$</Buttons>

</div>


<p class="font-extrabold text-3xl font2  text-center md:text-start">Medidas</p>
<div class="flex-col ml-4  text-center md:text-start">
  <Buttons dataset="big">Grandes</Buttons>
  <Buttons dataset="middle">Medianas</Buttons>
  <Buttons dataset="small">Pequeñas</Buttons>
  


</div>