---
import Layout from '../layouts/Layout.astro';
import NavBar from "../components/NavBar.astro";

import LandingHero from '../sections/landingHero.astro';
import LandingCards from '../sections/landingCards.astro';
import LandingCatalogue from '../sections/landingCatalogue.astro';
import LandingFAQ from '../sections/landingFAQ.astro';
import LandingFooter from '../sections/landingFooter.astro';
---

<Layout title="Papel crepe">
	<main class="bg-pink-100 " id="main">

		<NavBar image="logo.svg"/>
		<LandingHero  />
		<LandingCatalogue />

		
		<LandingCards />
		
		<LandingFAQ />

		<LandingFooter  igLogo="./public/instagram.png"/>

	</main>
</Layout>

