---
import Layout from '../layouts/Layout.astro';
import LandingHero from '../sections/landingHero.astro';
---

<Layout title="Papel crepe">
	<main class="bg-pink-100">

		<LandingHero />
		
	</main>
</Layout>

