---
import Layout from '../layouts/Layout.astro';
import LandingHero from '../sections/landingHero.astro';
import LandingCards from '../sections/landingCards.astro';
---

<Layout title="Papel crepe">
	<main class="bg-pink-100">

		<LandingHero />
		<LandingCards />

		
	</main>
</Layout>

