---
import Layout from '../layouts/Layout.astro';
import LandingHero from '../sections/landingHero.astro';
import LandingCards from '../sections/landingCards.astro';
import LandingCatalogue from '../sections/landingCatalogue.astro';
import LandingFAQ from '../sections/landingFAQ.astro';
---

<Layout title="Papel crepe">
	<main class="bg-pink-100">

		<LandingHero />
		<LandingCards />

		<LandingCatalogue />
		<LandingFAQ />

	</main>
</Layout>

