---
  interface Props{
    title : string;
    body: string;
    svg: string;
    color: string
  }

  const {title,body,svg,color} = Astro.props


---

  <div 
  class=`text-center relative text-black rounded-xl border-2 
  border-black  w-32 h-44 md:w-52 md:h-56 font2 ${color}`> 
    <p class="font-normal text-sm md:text-xl pt-2 md:pt-4">{title}</p>
    <p class="font-bold pt-2 md:pt-4 px-4 md:mt-1 caveat text-xs md:text-lg ">{body}</p>
    <img class="absolute bottom-0 left-0 right-0 mx-auto my-4 w-8 h-8 " src={svg} alt="">
  </div>
