---
  interface Props{
    title : string;
    body: string;
    svg: string;
    color: string
  }

  const {title,body,svg,color} = Astro.props


---

  <div 
  class=`text-center relative text-black rounded-xl border-2 
  border-black  w-52 h-52 md:w-52 md:h-56
  ${color} font2`> 
    <p class="font-normal text-xl pt-4">{title}</p>
    <p class="font-bold pt-4 px-4 md:mt-1 caveat text-lg ">{body}</p>
    <img class="absolute bottom-0 left-0 right-0 mx-auto my-4 w-8 h-8 " src={svg} alt="">
  </div>
