---
  interface Props {
    title:string;
    id:string;

  }

  const {title, id} = Astro.props
---

<h1 class="text-center font2 text-2xl my-12 mx-auto
  text-primary  border-2 border-primary block w-4/5 px-4 py-2 md:text-5xl md:w-fit"
  id=`${id}`>{title}</h1>