---

  const number = '6229-0991'

  interface Props {
    image : string;
  }
  const {image} = Astro.props
---
<header class="">

  <nav 
    class="caveat
    flex justify-between align-middle items-center
    w-full   text-xl pt-8 md:mt-0
    md:px-36 md:text-3xl ">

    <picture class="hidden sm:flex ">
      <img src={image} alt="">
    </picture>

    <ul class="flex my-0 mx-auto md:items-center gap-8 justify-center flex-wrap ">
      <li class="hover:scale-125 hover:border-b-2 transition-all hover:border-pink-300">
        <a href="/"  >Inicio</a></li>
      <li class="hover:scale-125 hover:border-b-2 transition-all hover:border-pink-300"><a href="#faq" >Preguntas frecuentes</a></li>
      <li class="hover:scale-125 hover:border-b-2 transition-all hover:border-pink-300"><a href='/catalogue/' >Catalogo</a></li>
      
      <li class="
        md:bg-primary md:py-1 md:px-3 rounded-md
        hover:scale-125 hover:border-b-2 transition-all hover:border-pink-300" ><a href="https://api.whatsapp.com/send?phone=50762290991&text=Hola%20me%20gustaria%20pedir%20una%20piñata%20personalizada." >Contacto</a></li>
    </ul>

    <footer class="hidden sm:flex  md:flex-grow justify-end pr-12 md:text-4xl">
      <p>{number}</p>
    </footer>
  </nav>
  <br class="md:hidden">
  <span class="block border-[1px] w-3/4   mx-auto   border-line "></span>
  <p class="sm:hidden flex justify-center items-center text-3xl mt-2 caveat">{number}</p>
</header>
