---
import CatalogueCards from "../components/Home/CatalogueCards.astro";
import Subtitle from "../components/Home/Subtitle.astro"

---

<Subtitle title="Algunas de nuestras piñatas"/>



<section 
class="h-screen md:h-full md:w-[60%] 
flex flex-wrap justify-center items-center gap-2
md:grid md:grid-cols-3	md:mx-auto md:my-0 md:place-items-center md:gap-12
">

  <CatalogueCards 
  name="Piñata de Bluey y Bingo" 
  size="Tamaño grande(27 cm)" 
  price='13.50', 
  img="cardPinata1.png"
  font="caveat"/>

  
  <CatalogueCards 
  name="Piñata de Stitch" 
  size="Tamaño grande(27 cm)" 
  price=' 13.50', 
  img="cardPinata2.png"
  font="caveat"/>

  <CatalogueCards 
  name="Piñata de Barbie" 
  size="Tamaño grande(27 cm)" 
  price='13.50', 
  img="cardPinata3.png"
  font="caveat"/>

  <CatalogueCards 
  name="Piñata de Vaca" 
  size="Tamaño grande(30 cm)" 
  price='15.00',
  img="cardPinata4.png"
  font="caveat"/>

  <div class="hidden md:block">

    <CatalogueCards 
    name="Piñata de Bob Esponja" 
    size="Tamaño grande(27 cm)" 
    price='13.50', 
    img="cardPinata5.png"
    font="caveat"/>

  </div>

  <div class="hidden md:block">

    <CatalogueCards 
    name="Piñata de la Jungla" 
    size="Tamaño grande(27 cm)" 
    price= '13.50',
    img="cardPinata6.png"
    font="caveat"/>

  </div>

</section>


