---
import Subtitle from "../components/Home/Subtitle.astro";
import FaqCards from "../components/Home/faqCards.astro";
---




<section class="flex flex-col mt-24 lg:mt-12 lg:mt-24">
  <Subtitle title="Preguntas Frecuentes" id="faq"/>

  <div class="flex flex-col md:flex-row md:w-2/3 mx-auto my-0 p-8 ">

    <div class="md:w-1/2  flex justify-center items-center">

      <img src="home/piñata-personalizada-papelcrepe-Bartolito.png" alt="" class="hidden md:block">

    </div>
    

    <section class="md:w-1/2  flex flex-col gap-8 justify-center">
      <FaqCards id="1" 
      title="¿Cuánto es el costo de las piñatas?" 
      text=" rango de precio que va de 10 a 20 dólares, dependiendo del diseño y la personalización."/>

      <FaqCards id="2" 
      title="¿Cuáles serían los tamaños de las piñatas?" 
      text="El tamaño de nuestras piñatas varía según el diseño y la solicitud del cliente. -Redondas 18 de diametro  -27 de alto -30 de alto "/>

      <FaqCards id="3" 
      title="¿Cómo es la entrega de la piñata?"  
      text="Ofrecemos entrega en persona en La Tablas. Para aquellos que viven en otras provincias, realizamos envíos a través de Transporte Ferguson o Uno Express."/>

      <FaqCards id="4" 
      title="¿Cómo se hace el pago?" 
      text="Aceptamos pagos a través de Yappy o en efectivo, según la conveniencia del cliente."/>




    </section>

    
  </div>


<section class=" py-12">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-center font2">
    <h2 class="text-3xl font-bold text-gray-800 mb-4">¿Tienes tu piñata en mente?  </h2>
    <p class="text-lg text-gray-600 mb-6">Entonces escribenos</p>
    <a href="https://api.whatsapp.com/send?phone=50762290991&text=Hola%20me%20gustaria%20pedir%20una%20piñata%20personalizada."
    class=" bg-opacity-80 caveat rounded-md bg-primary 
    py-1  px-8 my-0 mx-auto text-2xl hover:scale-125 transition-all">
    ¡Pedir piñata!</a>
    <img src="https://images.vexels.com/media/users/3/294729/isolated/preview/c873a2bc381b57447a355d10d6fd1eee-self-esteem-flower-cute-icon.png" width=50px alt="" class="flex justify-center mx-auto my-4">
  </div>
</section>


</section>



<script>
  const faqButton = document.querySelectorAll('.faqButton')


  faqButton.forEach((element) => {
    element.addEventListener('click', () => {
      
      
      const id = element.getAttribute('data-id')
      console.log(id);

      const faqText = document.querySelector(`.faqText[data-id='${id}']`)
      const faqImg  = document.querySelector(`.faqImg[data-id='${id}']`)


      faqText.classList.toggle('hidden')
      faqImg.classList.toggle('rotate-180')
      })

  });

</script>