---
import CatalogueCards from "../components/Home/CatalogueCards.astro";
import Subtitle from "../components/Home/Subtitle.astro"

---

<Subtitle title="Algunas de nuestras piñatas" id="catalogue"/>



<section 
class="h-screen md:h-full md:w-[60%] 
flex flex-wrap justify-center items-center gap-6
md:grid md:grid-cols-3	md:mx-auto md:my-0 md:place-items-center md:gap-12 md:pb-12
">

  <CatalogueCards 
  name="Bluey y Bingo" 
  size='Tamaño grande(27")'
  price='13.50', 
  img="cardPinata1.png"
  font="caveat"/>

  
  <CatalogueCards 
  name="Piñata de Stitch" 
  size='Tamaño grande(27")'
  price=' 13.50', 
  img="cardPinata2.png"
  font="caveat"/>

  <CatalogueCards 
  name="Piñata de Barbie" 
  size='Tamaño grande(27")'
  price='13.50', 
  img="cardPinata3.png"
  font="caveat"/>

  <CatalogueCards 
  name="Piñata de Vaca" 
  size='Tamaño grande(30")' 
  price='15.00',
  img="cardPinata4.png"
  font="caveat"/>

  <div class="hidden md:block">

    <CatalogueCards 
    name="Piñata de Bob Esponja" 
    size='Tamaño grande(27")'
    price='13.50', 
    img="cardPinata5.png"
    font="caveat"/>

  </div>

  <div class="hidden md:block">

    <CatalogueCards 
    name="Piñata de la Jungla" 
    size='Tamaño grande(27")'
    price= '13.50',
    img="cardPinata6.png"
    font="caveat"/>

    
  </div>



</section>


<div class="mx-auto my-0 flex justify-center items-center w-full flex-wrap">

  <a href="/catalogue/"
class="bg-opacity-80 caveat rounded-md bg-primary
md:py-1 md:px-6 md:text-4xl hover:scale-125 transition-all md:mt-0 mt-24
text-2xl px-4 py-2
">
Mira todo nuestro catálogo</a>

</div>
