---
import AdventageCards from "../components/Home/AdventageCards.astro";
import Subtitle from "../components/Home/Subtitle.astro";
---
<Subtitle title="Beneficios y Ventajas que Ofrecemos"/>

<section class="md:h-[50vh] flex flex-row justify-center items-center flex-wrap gap-8 mt-12 md:mt-0">


<AdventageCards 
  title="Artesania de calidad" 
  body="Nuestras piñatas están hechas a mano con materiales de calidad."
  svg="quality.svg" 
  color="bg-cardOne" />

  <AdventageCards 
  title="Personalización Total" 
  body="Piñatas totalmente personalizadas según tus especificaciones."
  svg="custom.svg" 
  color="bg-cardTwo" />

  <AdventageCards 
  title="Temáticas variadas" 
  body=" fabricamos piñatas que se adapten exactamente a la temática de su fiesta."
  svg="Vary.svg" 
  color="bg-cardOne" />

  <AdventageCards 
  title=" Entregas a tiempo" 
  body="  recibe tu piñata a tiempo, sin preocupaciones sobre retrasos."
  svg="Time.svg" 
  color="bg-cardTwo" />


</section>
