---
import CatalogueCards from "../components/Home/CatalogueCards.astro";
import Subtitle from "../components/Home/Subtitle.astro"

---

<Subtitle title="Algunas de nuestras piñatas más populares" id="catalogue"/>

<h3 class="text-center text-2xl  md:text-3xl w-9/12 md:w-1/2 mx-auto my-12 font-medium font2"> Descubre nuestra amplia variedad de <strong class="text-primary font-semibold">piñatas temáticas</strong>, diseñadas a mano con los mejores materiales y adaptadas a tus necesidades. </h3>

<section 
class="h-screen md:h-full md:w-[60%] 
flex flex-wrap justify-center items-center gap-6 md:gap-28
md:grid md:grid-cols-3	md:mx-auto md:my-0 md:place-items-center lg:gap-12 md:pb-12
sm:grid-cols-2 sm:grid sm:mx-auto sm:my-0 sm:w-1/2 
">

  <CatalogueCards 
  name="Bluey y Bingo" 
  size='Tamaño grande(27")'
  price='13.50', 
  img="home/piñata-personalizada-papelcrepe-bluey.png"
  font="caveat"
  alt="Piñatas de Bluey y Bingo"/>

  
  <CatalogueCards 
  name="Piñata de Stitch" 
  size='Tamaño grande(27")'
  price=' 13.50', 
  img="home/piñata-personalizada-papelcrepe-Stitch.png"
  font="caveat" 
  alt="Piñatas de Stitch"/>

  <CatalogueCards 
  name="Piñata de Barbie" 
  size='Tamaño grande(27")'
  price='13.50', 
  img="home/piñata-personalizada-papelcrepe-Barbie.png"
  font="caveat"
  alt="Piñatas de Barbie"/>

  <CatalogueCards 
  name="Piñata de Vaca" 
  size='Tamaño grande(30")' 
  price='15.00',
  img="home/piñata-personalizada-papelcrepe-Vaca.png"
  font="caveat"
  alt="Piñatas de Vacas"/>

  <div class="hidden md:block">

    <CatalogueCards 
    name="Piñata de Bob Esponja" 
    size='Tamaño grande(27")'
    price='13.50', 
    img="home/piñata-personalizada-papelcrepe-Bob-Esponja.png"
    font="caveat"
    alt="Piñatas de Bob Esponja"/>

  </div>

  <div class="hidden md:block">

    <CatalogueCards 
    name="Piñata de la Jungla" 
    size='Tamaño grande(27")'
    price= '13.50',
    img="home/piñata-personalizada-papelcrepe-Jungla.png"
    font="caveat"
    alt="Piñatas tematica de Jungla"/>

    
  </div>



</section>


<div class="mx-auto my-0 flex justify-center items-center w-full flex-wrap">

  <a href="/catalogue/"
class="bg-opacity-80 caveat rounded-md bg-primary
md:py-1 md:px-6 md:text-4xl hover:scale-125 transition-all md:mt-0 mt-24
text-1xl px-4 py-2
">
Explora nuestras piñatas personalizadas</a>

</div>
