---
  const { igLogo, faq} = Astro.props


---
<footer class="w-full bg-pink-200  flex flex-col  mt-12 pt-12 text-center scroll-smooth">
  <section class="md:w-[80%] mx-auto my-0 ">

    
    <li class="hover:text-white transition-all hover:scale-110  justify-center hidden md:flex mb-4 w-fit my-0 mx-auto">
        
      <a href="#main" class=" ">
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-up"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M18 11l-6 -6" /><path d="M6 11l6 -6" /></svg>
      
      </a></li>

    <ul class="flex list-none decoration-transparent gap-8 justify-center text-xl font2 flex-col md:flex-row">




      <li class="hover:text-white transition-all hover:scale-110 flex justify-center md:hidden w-fit my-0 mx-auto">
        
        <a href="#main" class="">
          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-up"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M18 11l-6 -6" /><path d="M6 11l6 -6" /></svg>
        
        </a></li>
      <li class="hover:text-white transition-all hover:scale-110"><a href="/">Inicio</a> </li>
      <li class="hover:text-white transition-all hover:scale-110"><a href={faq}>Preguntas frecuentes</a> </li>
      <li class="hover:text-white transition-all hover:scale-110"><a href="/catalogue/">Catálogo</a>  </li>
      <li class="hover:text-white transition-all hover:scale-110"><a target="_blank" href="https://api.whatsapp.com/send?phone=50762290991&text=Hola%20me%20gustaria%20pedir%20una%20piñata%20personalizada.">Contáctanos</a>  </li>
    </ul>
    <span class="block border-[1px] my-4"></span>
  
    <!-- <section class="flex justify-center gap-12 text-xl font2 mx-auto my-0w-fit flex-wrap">
      <div class="md:text-end">
        <p class="text-lg font-bold text-subtitle">Correo</p>
        <p>Example@gmail.com</p>
      </div>
      <div class="md:text-start">
        <p class="text-lg font-bold text-subtitle">Telefono</p>
        <p>6229-0991</p>
      </div>
    </section>
    <span class="block border-[1px] my-4"></span> -->
    <div class="flex justify-center gap-4">
      <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-map-pin"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /><path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" /></svg>
      <p>Las Tablas, Los Santos, Panamá</p> 

    </div>
    

    <div class="flex justify-center my-4">
      <a target="_blank" href="https://www.instagram.com/_papelcrepe?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" ><img src={igLogo} alt="" class="w-12"></a>
    </div>
  
    <div class="my-12">
      <p>©2024 <a href="/" class="text-lg font-bold text-subtitle">Papel Crepe.</a>  Todos los derechos reservados.</p>
    </div>
  

  







  </section>
</footer>