---
import CatalogueCards from "../components/Home/CatalogueCards.astro";
import Subtitle from "../components/Home/Subtitle.astro"

---

<Subtitle title="Algunas de nuestras piñatas"/>



<section class="h-screen flex flex-wrap justify-center items-center gap-2 ">

  <CatalogueCards 
  name="Piñata de Bluey y Bingo" 
  size="Tamaño grande" 
  price={99.99} 
  img="cardPinata1.png"
  font="caveat"/>

  
  <CatalogueCards 
  name="Piñata de Stitch" 
  size="Tamaño grande" 
  price={99.99} 
  img="cardPinata2.png"
  font="caveat"/>

  <CatalogueCards 
  name="Piñata de Barbie" 
  size="Tamaño grande" 
  price={99.99} 
  img="cardPinata3.png"
  font="caveat"/>

  <CatalogueCards 
  name="Piñata de Vaca" 
  size="Tamaño grande" 
  price={99.99} 
  img="cardPinata4.png"
  font="caveat"/>
</section>


